:root{
	--mainColor:#6fb498;
	--secondaryColor:#c1cab3;

	--borderColor:#7dcea2;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgba(148, 116, 101, 0.8);
	--previewShadow:#438073;


	--buttonColor:#834e4e;


}
